.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.movie-image {
    max-width: 50%;
    height: 300px;
    display: block;
    margin: 0 auto;
}

.movie-info{
    display:flex;
}

.movie-table{
    width:100%;
}


.movie-table-header{
    background-color: darkgray
}


.details-button {
    margin-left: auto;
    padding: 8px 16px; 
    border-radius: 4px; 
    background-color: lightslategrey;
    color: white; 
    cursor: pointer;
    font-size: 14px; 
  }
